body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    font-size: 15px;
    margin: 0;
}

p,
h3 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    line-height: 1.675;
    text-align: center;
}

.services {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1260px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 40px;
}

.card {
    background-image: url("https://netology-code.github.io/html-2-homeworks/content-structure-tags/web-studio/img/creative-idea.svg");
    background-repeat: no-repeat;
    background-size: 96px;
    background-position: center 30px;

    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid rgba(179, 184, 236, 0.5);
    padding-top: 160px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width:420px;
    box-sizing: border-box;
}

.card:nth-child(2) {
    background-image: url("https://netology-code.github.io/html-2-homeworks/content-structure-tags/web-studio/img/coding2.svg");
}

.card:nth-child(3) {
    background-image: url("https://netology-code.github.io/html-2-homeworks/content-structure-tags/web-studio/img/coding.svg");
}

.card:nth-child(-n+3) {
    border-top: 1px solid rgba(179, 184, 236, 0.5);
}

.card:nth-child(3n+1),
.card:nth-child(3n+3) {
    border-left-color: rgba(179, 184, 236, 0.5);
    border-right-color: rgba(179, 184, 236, 0.5);
}

.card:nth-child(even) {
    background-color: rgba(179, 184, 236, 0.2);
}

.card-name {
    font-size: 22px;
}

.card-content {
    margin-top: 30px;
}