body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #222222;
    background-color: #dfdee8;
}

p {
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
}

.courses {
    padding-bottom: 50px;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.course {
    background-color: #FFFFFF;
    box-shadow: 0 2px 7px 0 hsla(0, 0%, 4%, 0.05), 3px 27px 54px -34px rgba(0, 0, 0, 0.47);
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
}

.course-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 300px;
    padding: 50px;
    background-color: #fade96;
}

.course-img {
    max-width: 100%;
}

.course-name {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 28px;
}


.course-info {
    box-sizing: border-box;
    width: 660px;
    padding: 40px 60px;
}